{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}
<!--After entering login credentials redirects to /accounts/profile/ -->
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Password Reset Complete</h3>
        <div>
            <iframe src="https://giphy.com/embed/OoTKFwKiOAbYc" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <p><a href="https://giphy.com/gifs/aw-yeah-OoTKFwKiOAbYc">via GIPHY</a></p>
        </div>

  </div>
 </div>
</div>
{% endblock main-content %}